body {
    background-color: hsl(205, 100%, 9%);
    color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    text-align: center;
    padding: 1rem;
}

#canvas {
    border-radius: 10px;
    padding: 1rem;
    height: 70vh;
    width: 90vw;
    max-width: 800px;
    max-height: 700px;
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid black;
}

#canvas-container {
    background-image: url("img/png/8bitBG.png");
    background-size: cover;
    border-radius: 10px;
    padding: 1rem;
    height: 70vh;
    width: 90vw;
    max-width: 800px;
    max-height: 700px;
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid black;
}

#menu {
    position: absolute;
    left: 15%;
    top: 50%;
    transform: translateY(-50%);
    width: 200px;
    height: 50%;
    background-color: rgba(102, 255, 0, 0.2);
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

#stats {
    position: absolute;
    right: 15%;
    top: 50%;
    transform: translateY(-50%);
    width: 200px;
    height: 50%;
    background-color: rgba(102, 255, 0, 0.2);
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

#retry {
    visibility: hidden;
    position: absolute;
    left: 25%;
}

#menu button {
    display: inline-block;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    background-color: hsl(205, 96%, 45%);
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 80px;
    height: 80px;
    font-size: 1rem;
    text-align: center;
}

#stats button {
    display: inline-block;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    background-color: hsl(205, 96%, 45%);
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 80px;
    height: 80px;
    font-size: 1rem;
    text-align: center;
}


#menu button:hover {
    background-color: hsl(205, 96%, 55%);
}

#menu button:hover {
    background-color: hsl(205, 96%, 55%);
}

/* howToPlay.html */

#howToPlay {
    color: #ffffff;
    border-radius: 10px;
    margin: 2rem auto;
    padding: 2rem;
    max-width: 800px;
    width: 90%;
    padding-bottom: 5rem;
}

#howToPlay h3 {
    color: hsl(205, 96%, 45%);
    margin-top: 0;
}

#howToPlay p,
#howToPlay ul {
    margin: 1rem 0;
}

#howToPlay ul {
    padding-left: 1.5rem;
}

#howToPlay hr {
    border: none;
    border-top: 1px solid #ddd;
    margin: 2rem 0;
}

/* both index.html and howToPlay.html */

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: hsl(205, 96%, 45%);
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 60px;
    box-sizing: border-box;
    font-size: medium;
    padding-left: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
footer h1 {
    margin: 0;
    font-size: 1.2em;
}

footer a {
    color: #fff;
    text-decoration: none;
    font-size: 1em;
    margin-left: 1rem;
}

footer a:hover {
    text-decoration: underline;
}
